---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="My name is Saifullah. you can call me Iful or ipul."
  pubDate={new Date("March 31 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    My name is Saifullah. you can call me Iful or ipul. I'm currently 21 years
    old. Born and live in Indonesia. I'm currently a student at Teuku Umar
    University.I started learn about programmer since 2020 with c++ language.
    But for now I spend more time to explore about web development using Next.js
    and Laravel.
  </p>

  <h4>My Favorite things</h4>
</Layout>
