---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Koreoxy. All rights reserved.
  <div class="social-links">
    <a href="https://youtube.com/@1sh1sh" target="_blank">
      <span class="sr-only">Subscribe my youtube channel</span>
      <Icon name="mdi:youtube" width={32} height={32} />
    </a>
    <a href="https://github.com/koreoxy" target="_blank">
      <span class="sr-only">Go to My GitHub repo</span>
      <Icon name="mdi:github" width={32} height={32} />
    </a>
  </div>
</footer>
<style>
  footer {
    padding-top: 1rem;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1rem;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
