---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
---

<header>
  <nav>
    <h2>
      <a href="/">
        <img width={50} height={50} src="/logo.png" alt="" />
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://youtube.com/@1sh1sh" target="_blank">
        <span class="sr-only">Subscribe my youtube channel</span>
        <Icon name="mdi:youtube" width={32} height={32} />
      </a>
      <a href="https://github.com/koreoxy" target="_blank">
        <span class="sr-only">Go to My GitHub repo</span>
        <Icon name="mdi:github" width={32} height={32} />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
